.container {
  margin: 1rem auto;
  width: auto;
  padding: 1rem;
  /* padding: 0 2rem; */
  overflow: hidden;
}
.container1 {
  height: 100%;
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
}
